<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.snownilight.backtowork.mapper.AdminUserMapper">
    <resultMap id="AdminUserMap" type="com.snownilight.backtowork.model.po.AdminUser">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="passwordHash" column="password_hash"/>
        <result property="roleId" column="role_id"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="findByUsername" resultMap="AdminUserMap">
        SELECT * FROM admin_user WHERE username = #{username}
    </select>

    <insert id="createAdminUser" parameterType="com.snownilight.backtowork.model.po.AdminUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO admin_user (username, password_hash, role_id, status)
        VALUES (#{username}, #{passwordHash}, #{roleId}, #{status})
    </insert>

    <update id="updateAdminUser" parameterType="com.snownilight.backtowork.model.po.AdminUser">
        UPDATE admin_user
        SET password_hash = #{passwordHash}, role_id = #{roleId}, status = #{status}
        WHERE id = #{id}
    </update>

</mapper>